@charset "UTF-8";
/* CSS Document */

#container{
	margin:auto;
	width:512px;
	height:384px;
	padding:0px;
	margin-top:100px;
	background-color:#000;
	
	
}


#header{
	height:140px;
	
}


#preview{
	height:135px;
	width:150px;
	margin-left:350px;
	margin-top:100px;
	
}