@charset "UTF-8";
/* CSS Document */

#container{
	margin:auto;
	width:480px;
	height:384px;
	padding:0px;
	margin-top:100px;
	background-color:#f7f7f4;
	
	
}


#header{
	height:120px;
	
}


#preview{
	height:135px;
	width:150px;
	margin-left:320px;
	margin-top:120px;
	border:thick;
	border:#333;
	padding-left:5px;
	
}

#title{
	font-size:11px;
	position:absolute;
	margin-top:-180px;
	
}

#description{
	font-size:12px;
	margin-top:-140px;
	
	
}