@charset "UTF-8";
/* CSS Document */

#container{
	position: relative;
	background-color: #A7E0FF;
	margin: auto;
	margin-top: 25%;
	width: 480px;
	height: 360px;

	
}


#icon_1{
	position: absolute;
	right: 251px;
	bottom: 188px;
	border: 7px;
	/*width and height are 1.25 the division of the height and width of the container*/
	width: 384px;
	height: 288px;
	background-color: red;
	padding:7px;

	
}

#icon_2{
	position: absolute;
	left: 245px;
	bottom: 188px;
	border:7px;
	width: 384px;
	height: 288px;
	background-color: red;
	padding:7px;

}

#icon_3{
	position: absolute;
	right: 251px;
	top: 188px;
	padding:7px;
	border:7px;
	width:384px;
	height:288px;
	background-color: red;
	
}

#icon_4{
	position: absolute;
	left: 245px;
	top: 188px;
	padding:7px;
	border:7px;
	width: 384px;
	height:288px;
	background-color: red;


}
