@charset "UTF-8";
/* CSS Document */

#container{
	background-color: #A7E0FF;
	margin: auto;
	margin-top: 25%;
	height: 360px;
	width: 480px;
	
}


#icon_1{
	position: absolute;
	margin-left: 155px;
	margin-top: 95px;
	border: 7px;
	width: 60px;
	height: 60px;
	background-color: red;
	padding:7px;

	
}

#icon_2{
	position: absolute;
	margin-left: 245px;
	margin-top: 95px;
	padding:7px;
	border:7px;
	width:60px;
	height:60px;
	background-color: red;
}

#icon_3{
	position: absolute;
	margin-left: 155px;
	margin-top: 185px;
	padding:7px;
	border:7px;
	width:60px;
	height:60px;
	background-color: red;
	
}

#icon_4{
	position: absolute;
	margin-left: 245px;
	margin-top: 185px;
	padding:7px;
	border:7px;
	width: 60px;
	height:60px;
	background-color: red;


}
