@charset "UTF-8";
/* CSS Document */

#container{
	width:1024px;
	height:768px;
	padding:0px;
	margin-top:100px;
	background-color:#FFF;
	/*background-color:#000;*/
}


#icon_1{
	position:absolute;
	width:60px;
	height:60px;
	padding:7px;
	border:7px;
	margin-left:572px;
	margin-top:424px;
	left:-49px;
	top: 79px;
}

#icon_2{
	position:absolute;
	width:60px;
	height:60px;
	padding:7px;
	border:7px;
	margin-left:472px;
	margin-top:324px;
	left: -49px;
	top: 79px;
}

#icon_3{
	position:absolute;
	width:60px;
	height:60px;
	padding:7px;
	border:7px;
	margin-left:572px;
	margin-top:324px;
	left: -49px;
	top: 79px;
}

#icon_4{
	position:absolute;
	width:60px;
	height:60px;
	padding:7px;
	border:7px;
	margin-left:472px;
	margin-top:424px;
	left: -49px;
	top: 79px;
}
